@use "../../../Foundation/mixin" as m;
.p-service{
    .fadeUp{
        animation-delay: 1s;
    }
    &__inner{
        padding-top: 100px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        background-color: #F8F9F9;
    }
    .c-mainTitle{
        color: red;
    }
    &__subtext{
        color: m.$color-main;
    }
    &__titleBox{
        margin-bottom: 100px;
    }
    &__list{
        position: relative;
        
    }
    &__bgCW{
        position:relative;
        height: 301px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-bottom: solid 1px m.$color-gray;
            height: 5px;
            width: 100%;
            animation: border_anim 1s linear forwards;
            @keyframes border_anim {
                0%{
                    width: 0%;
                }
                100%{
                    width: 100%;
                }
            }
        }
        
        &:nth-child(2){
            .p-service__link{
                .p-service__mask{
                    &::before{
                        background-image: url(/assets/images/top/school.png);
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        &:nth-child(3){
            .p-service__link{
                .p-service__mask{
                    &::before{
                        background-image: url(/assets/images/top/consulting.png);
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        
    }
    &__mask{
        position:absolute;/*背景色の基点となる位置を定義*/
        display: block;
        overflow: hidden;/*拡大してはみ出る要素を隠す*/
        height: 100%;
        width: 100%;
        z-index: 1;
        &::before{
            content:"";
            position: absolute;
            background-image: url(/assets/images/top/training.png);
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: translateX(40px);
            transition: .5s;
            @include m.mq(sp) {
                opacity: 1;
                transform: none;
                transition: none;
            }
        }
        
        &:hover::before{
            opacity: 1;
            transform: translateX(0);
        }
        &:hover{
            .p-service__container{
                color: #fff;
            } 
            .p-service__title{
                color: #fff;
            }
        }
       
    }
       
    &__link{
        height: 100%;
        display: block;
        position: relative;
        
    }
    &__container{
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
        @include m.mq(sp) {
            color: #fff;
            justify-content: center;
            flex-direction: column;
        }
    }
    &__title{
        font-size: 32px;
        color: m.$color-main;
        @include m.mq(sp) {
            font-size: 24px;
            color: #fff;
        }
    }
    &__box{
        position: relative;
        z-index: 1000;
        width: 30%;
        @include m.mq(sp) {
            width: auto;
        }
    }
    &__text{
        width: 70%;
        @include m.mq(sp) {
            color: #000;
            
        }
    }
}
  
  