.p-top{
    position: relative;
    width: 100%;
    &__titleBox{
        position: absolute;
        top: 60%;
        left: 10%;
        color: #fff;
        animation-delay: 0.5s;
        z-index: 10;
    }
    &__title{
        font-size: 40px;
    }
    &__subtitle{
        font-size: 24px;
    }
    

}