.p-vision{
    &__inner{
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        width: 100%;
        padding-bottom: 100px;
    }
    &__backfont{
        position: absolute;
        font-size: 120px;
        opacity: 0.1;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        
    }
    &__textBox{
        text-align: center;
    }
    &__subTitle{
        font-size: 40px;
    }
    &__text{
        margin-top: 80px;
    }
    &__btn{
        margin-top: 80px;
    }
}