@use "../../../Foundation/mixin" as m;

.p-recruit {
    &__inner {
        margin-top: 150px;
    }
    &__box {
        margin-top: 50px;
        padding: 25px;
        border-top: solid 2px m.$color-gray;
        border-bottom: solid 2px m.$color-gray;
    }
    &__contents {
        margin-top: 25px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__contentsTitle {
        position: relative;
        &::before {
            position: absolute;
            left: -12px;
            top: 3px;
            display: inline-block;
            content: "";
            width: 5px;
            height: 15px;
            background-color: m.$color-main
        }
    }
    &__text {
        margin-top: 5px;
    }
}