@use "../../Foundation/mixin" as m;
.c-mainTitle{
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}
.c-subTitle{
    font-size: 32px;
    text-align: center;
}
.c-subtext{
    color: m.$color-main;
    text-align: center;
}