@use "../../Foundation/mixin";
.p-header{
    &__inner{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
        background-color: mixin.$white;
    }
    &__logo{
        display: flex;
        justify-content: flex-start;
    }
    &__nav{
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    &__navList{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        align-items: center;
    }
    &__listItem{
        padding-right: 40px;
        align-items: center;
    }
    &__contact{
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90px;
            width: 200px;
            background-color: mixin.$color-main;
            color: #fff;
        }
    }
}